// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
	max-width: 100%;
}

body > footer {
	border-radius: 0;
	margin-bottom: 0;
}

figure.code figcaption {
	border: none;
}

.highlight, .gist-highlight {
	border-radius: 6px;
}

img.plain {
	border: none;
	border-radius: 0;
	box-shadow: none;
}